@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 6% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  :root {
    --golden-brown: 31 66% 47%;
    --fulvous: 34 80% 50%;
    --golden-brown-2: 31 66% 25%;
    --bistre: 36 19% 16%;
    --eerie-black: 32 10% 10%;
  }
  
  .malungo {
    --background: var(--eerie-black);
    --foreground: 210 40% 98%;
  
    --card: var(--bistre);
    --card-foreground: 210 40% 98%;
  
    --popover: var(--bistre);
    --popover-foreground: 210 40% 98%;
  
    --primary: var(--fulvous);
    --primary-foreground: 0 0% 100%;
  
    --secondary: var(--golden-brown-2);
    --secondary-foreground: 210 40% 98%;
  
    --muted: var(--golden-brown-2);
    --muted-foreground: 215 20.2% 65.1%;
  
    --accent: var(--golden-brown-2);
    --accent-foreground: 210 40% 98%;
  
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
  
    --border: 36 16% 21%;
    --input: var(--golden-brown-2);
    --ring: 212.7 26.8% 83.9%;
  
    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 100%;
    /* Branco */
    --foreground: 228 9% 11%;
    /* Texto escuro */

    --card: 0 0% 98%;
    /* Cartões quase brancos */
    --card-foreground: 228 9% 11%;
    /* Texto escuro */

    --popover: 0 0% 98%;
    /* Popover quase branco */
    --popover-foreground: 228 9% 11%;
    /* Texto escuro */

    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 90%;
    /* Cinza claro */
    --secondary-foreground: 228 9% 11%;
    /* Texto escuro */

    --muted: 0 0% 90%;
    /* Cinza claro */
    --muted-foreground: 228 9% 40%;
    /* Texto cinza mais escuro */

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    /* Vermelho intenso */
    --destructive-foreground: 0 0% 100%;
    /* Texto branco */

    --border: 0 0% 80%;
    /* Cinza médio */
    --input: 0 0% 90%;
    /* Fundo de entrada cinza claro */
    --ring: 212.7 26.8% 83.9%;
    /* Anel azul intenso */

    --radius: 0.5rem;
    /* Raio do canto */
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }

  html {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground h-full;
  }
}